@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One");

.containerClose {
  min-height: 100%;
  height: 100%;
  background-image: url("/Home/HomeBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.5s;
}

.containerOpen {
  min-height: 100%;
  height: 100%;
  background-image: url("/HomeBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 15%;
  transition: 0.5s;
}

.header {
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.img {
  max-height: 600px;
  margin-top: 20px;
  margin-right: 2%;
}

.homeCard {
  border-style: groove;
  border-color: black;
  border-radius: 10%;
}

.text {
  width: 30%;
  height: auto;
  color: whitesmoke;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Rubik Mono One";
}

.text p {
  width: 100%;
}

.about {
  margin-top: 17%;
  padding-bottom: 10%;
  display: flex;
  justify-content: flex-end;
}

.bio {
  margin-left: 10%;
  margin-right: 20%;
  color: whitesmoke;
  font-family: "Lilita One";
  font-size: large;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
