.container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  animation: move 3 ease-in infinite;
}

.img {
  width: 100px;
}

@keyframes move {
  100% {
    transform: translate(100%);
  }
}
