.deckContainer {
  display: flex;
}

.topCard {
  width: 200px;
  height: auto;
  transform: translateX(-200px);
  margin: 1%;
  border: black;
  border-style: double;
  border-radius: 10px;
  transition: 0.5s;
}

.secondCard {
  width: 200px;
  height: 300px;
  transform: rotate(5deg);
  border: black;
  border-style: double;
  border-radius: 10px;
  margin: 1%;
  transition: 0.5s;
}
