/* Container settings */
.containerClose {
  min-height: 100vh;
  height: 100vh;
  background-image: url("/Skills/SkillsBackground.png");
  background-size: cover;
  margin-left: 5%;
  transition: 0.5s;
}

.containerOpen {
  min-height: 100vh;
  height: 100vh;
  background-image: url("/Skills/SkillsBackground.png");
  background-size: cover;
  margin-left: 15%;
  transition: 0.5s;
}

.bodyContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dealerChip {
  margin-top: 10%;
  max-width: 200px;
  height: auto;
  transform: rotate(-10deg);
  animation: bounce 2.5s ease-in infinite;
}

@keyframes bounce {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
