.stackedCard {
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(245px, 5px);
}

.img {
  width: 200px;
  height: auto;
}

.skill {
  position: absolute;
}
