@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap");

.card {
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 230px;
  height: 350px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.selectedCard {
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 230px;
  height: 350px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
  transition: 0.3s;
}

.cardBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rokkitt";
}

.gifBox {
  height: 200px;
  width: 200px;
  border-style: dashed double;
  border-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gifBox img {
  height: 190px;
  width: 190px;
}

.textBoxTop {
  display: flex;
  width: 100%;
  font-size: 1.5em;
  transform: translate(10px, -20px);
}

.textBoxBottom {
  display: flex;
  width: 100%;
  font-size: 1.5em;
  transform: translate(-10px, 20px) rotate(180deg);
}

@keyframes deal {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 10px;
  }
}
