/* Container settings */
.containerClose {
  min-height: 100vh;
  height: 100vh;
  background-image: url("/Projects/ProjectsBackground.png");
  background-size: cover;
  margin-left: 5%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerOpen {
  min-height: 100vh;
  height: 100vh;
  background-image: url("/Projects/ProjectsBackground.png");
  background-size: cover;
  margin-left: 15%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
