.container {
  min-height: 100%;
  height: 100%;
  background-color: burlywood;
}

.header {
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.img {
  max-height: 480px;
  height: 480px;
  padding: 40px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
}

.text {
  width: 30%;
  height: auto;
  border: brown;
  border-style: dotted;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text p {
  width: 100%;
}

.about {
  margin-top: 20%;
  padding-bottom: 10%;
}

.bio {
  margin-left: 10%;
  margin-right: 20%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
