.container {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
}

.imgContainer {
  float: right;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: aqua;
}

.header {
  text-align: center;
}

.header p {
  display: inline-block;
  /* margin-top: 25%; */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
