.container {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.img {
  max-height: 480px;
  height: 480px;
  padding: 40px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
}

.text {
  width: 30%;
  height: auto;
  border: brown;
  border-style: dotted;
  margin-right: 10%;
  display: flex;
}

.text p {
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
