/* Container settings */
.containerClose {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  margin-left: 5%;
  transition: 0.5s;
}

.containerOpen {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  margin-left: 15%;
  transition: 0.5s;
}

/* Cards */

.cardContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
  border: black;
  border-style: double;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
} */

.cardOne {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
  border: black;
  border-style: double;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: rotate(-10deg);
}

.cardTwo {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
  border: black;
  border-style: double;
  border-radius: 10px;
  margin: 1%;
  transform: translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.cardThree {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
  border: black;
  border-style: double;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: rotate(10deg);
}

.cardHovered {
  width: 300px;
  height: 450px;
  background-color: blueviolet;
  border: black;
  border-style: double;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/* Test Animations */

.boxOne {
  width: 1200px;
  height: 100px;
  transform: rotate(60deg);
  background-color: red;
  position: fixed;
  top: -900px;
  left: -1400px;
  animation: fall-in 0.5s ease-in forwards;
}

.boxTwo {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  bottom: -100px;
  right: 45%;
  animation: push-up 0.5s 0.5s ease-in forwards;
}

.boxThree {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  bottom: 40%;
  right: -100px;
  animation: push-in 0.5s 1s ease-in forwards;
}

@keyframes fall-in {
  100% {
    transform: translate(100%, 1300%) rotate(60deg);
  }
}

@keyframes push-up {
  100% {
    transform: translate(700%, -300%);
  }
}

@keyframes push-in {
  100% {
    transform: translate(-500%, -350%);
  }
}
