/* Container settings */
.containerClose {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  margin-left: 5%;
  transition: 0.5s;
}

.containerOpen {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  margin-left: 15%;
  transition: 0.5s;
}

/* Test Animations */

.boxOne {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  top: -100px;
  left: -100px;
  animation: fall-in 0.5s ease-in forwards;
}

.boxTwo {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  bottom: -100px;
  right: 45%;
  animation: push-up 0.5s 0.5s ease-in forwards;
}

.boxThree {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  bottom: 40%;
  right: -100px;
  animation: push-in 0.5s 1s ease-in forwards;
}

@keyframes fall-in {
  100% {
    transform: translate(400%, 800%);
  }
}

@keyframes push-up {
  100% {
    transform: translate(700%, -300%);
  }
}

@keyframes push-in {
  100% {
    transform: translate(-500%, -350%);
  }
}
