/* Container settings */
.containerClose {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  margin-left: 5%;
  transition: 0.5s;
}

.containerOpen {
  min-height: 100vh;
  height: 100vh;
  background-color: burlywood;
  margin-left: 15%;
  transition: 0.5s;
}

/* Test Animations */

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  top: -100px;
  left: -100px;
  animation: fall-in-one 1s ease-in forwards;
}

@keyframes fall-in-one {
  100% {
    transform: translate(400%, 800%);
  }
}
