/* Sidebar Menu */
.sidebarClose {
  height: 100%; /* 100% Full-height */
  width: 5%; /* Closed Width */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  text-align: center;
  /* border-right: 10px solid white; */
}

.sidebarOpen {
  height: 100%;
  width: 15%; /* Open Width */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
  /* border-right: 10px solid white; */
}

/* Sidebar Icon */
.sidebarIcon {
  color: whitesmoke;
  margin-bottom: 200px;
}

.sidebarIcon :hover {
  color: #9d2c2c;
}

/* Sidebar Links */
.icons {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.icons :hover {
  color: #9d2c2c;
}

/* Sidebar Text */
.icons span {
  margin-left: 3%;
}
.icons span:hover {
  color: whitesmoke;
}
